╭━━━╮
┃╭━╮┃
┃╰━━┳━━┳━━┳╮╭╮╭┳━╮╭┳━╮╭━━╮
╰━━╮┃╭╮┃╭╮┃╰╯╰╯┃╭╮╋┫╭╮┫╭╮┃
┃╰━╯┃╰╯┃╭╮┣╮╭╮╭┫┃┃┃┃┃┃┃╰╯┃
╰━━━┫╭━┻╯╰╯╰╯╰╯╰╯╰┻┻╯╰┻━╮┃
╱╱╱╱┃┃╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭━╯┃
╱╱╱╱╰╯╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╰━━╯

1. I'll start out in a house full of gear hidden by my wife.
2. I'll have 30 seconds to search for whatever weapons, mods, ammo, food, gear, etc. I can find.
3. When the 30 sedonds is up, I must leave the house, no questions, and no going back.

╭━━━┳╮
┃╭━╮┃┃
┃╰━╯┃┃╭━━┳╮╱╭┳┳━╮╭━━╮
┃╭━━┫┃┃╭╮┃┃╱┃┣┫╭╮┫╭╮┃
┃┃╱╱┃╰┫╭╮┃╰━╯┃┃┃┃┃╰╯┃
╰╯╱╱╰━┻╯╰┻━╮╭┻┻╯╰┻━╮┃
╱╱╱╱╱╱╱╱╱╭━╯┃╱╱╱╱╭━╯┃
╱╱╱╱╱╱╱╱╱╰━━╯╱╱╱╱╰━━╯

1. No home base - I can hide in a house if need be, but no permanent place.
2. Traders - I can use them for selling and food, but that's it.
3. No natural spawning - it's all on the chat to kill me.

╭━━━╮
╰╮╭╮┃
╱┃┃┃┣╮╱╭┳┳━╮╭━━╮
╱┃┃┃┃┃╱┃┣┫╭╮┫╭╮┃
╭╯╰╯┃╰━╯┃┃┃┃┃╰╯┃
╰━━━┻━╮╭┻┻╯╰┻━╮┃
╱╱╱╱╭━╯┃╱╱╱╱╭━╯┃
╱╱╱╱╰━━╯╱╱╱╱╰━━╯

1. When I die, I go back to spawn point.
2. I have to dump all the gear and loot I found except for the literal clothes on my back.
3. I have 30 seconds to search the house again and start over.
4. My wife will NOT be refreshing the stores between rounds, so the house has a finite amount of supplies.
